@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Russo+One&display=swap');


/*Logo Header Size*/
#header {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: -10%;
    margin-right: auto;
    width: 150%;
    
}
#sticky-header-with-topbar {
    background-color: rgba(3, 50, 111, 0.773)
}
#he01 li a{
    color: white;
}
#he01 li a:hover{
    color: orange;
}

#pcbotlogo img {
    size: 100%;
}
#login-bl a {
    color: white;
}

body {
    background-image: url('img/body-background.jpg');
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: black;
}
/*SLIDE BACKGROUND*/
#slide1 {
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/wallpapers/rtx-3070/3070-wallpaper-1920x1080-r2.png);
    background-size: 100%;
    background-position: center;
    background-color: black;
    padding: 20px;
}
#slide2 {
    background-image:url(images/extra/rx6000.png);
    background-size: 105%;
    background-position: center;
    background-color: black;
    padding: 20px;
}
#slide3 {
    background-image:url(images/extra/ryzthread.png);
    background-size: 105%;
    background-position: center;
    background-color: black;
    padding: 20px;
}
#slide4 {
    background-image:url(images/extra/pcbb.png);
    background-size: 105%;
    background-position: center;
    background-color: black;
    padding: 20px;
}


#gf3070 {
    color: greenyellow;
    font-family: 'Signika', sans-serif;
}
#rx6000 {
    color: red;
    font-family: 'Signika', sans-serif;
}
#ryzthread {
    color: orange;
    font-family: 'Signika', sans-serif;
}
.slide h2 {
    color: white;
}
.slide p {
    color: white;
    font-family: 'Lato', sans-serif;
}

.slide__thumb {
    width: 100%;
}
#needup {
    color: white;
    font-family: 'Russo One', sans-serif;
}
#thelat {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}
#prodname {
    color: white;
}
#oldprice {
    color: #694047;
}
#newprice {
    color: yellow;
}

/*PreBuilt PC*/
#csgo{
    height: 400px;
    width: 600px;
    background-size: contain;
    background-image: url('images/extra/jiffy/csgo.gif');
    background-repeat: no-repeat;
}
#csgo:hover{
    background-image: url('images/extra/jiffy/csgo-hover.png');
    height: 400px;
    width: 600px;
    background-size: contain;
    transition: 1s;
    background-repeat: no-repeat;
}
#csgo:hover::after {
    transition: 1s;
}
#csfont {
    color: yellow;
}

#valo{
    height: 400px;
    width: 600px;
    background-size: contain;
    background-image: url('images/extra/jiffy/valorant.gif');
    background-repeat: no-repeat;
}
#valo:hover{
    background-image: url('images/extra/jiffy/valorant-hover.png');
    height: 400px;
    width: 600px;
    background-size: contain;
    transition: 1s;
    background-repeat: no-repeat;
}
#valo:hover::after {
    transition: 1s;
}
#valfont {
    color: rgb(255, 114, 114);
}

#cyber{
    height: 400px;
    width: 600px;
    background-size: contain;
    background-image: url('images/extra/jiffy/cyberpunk.gif');
    background-repeat: no-repeat;
}
#cyber:hover{
    background-image: url('images/extra/jiffy/cyberpunk-hover.png');
    height: 400px;
    width: 600px;
    background-size: contain;
    transition: 1s;
    background-repeat: no-repeat;
}
#cyber:hover::after {
    transition: 1s;
}
#cybfont {
    color: palevioletred;
}

#gtav{
    height: 400px;
    width: 600px;
    background-size: contain;
    background-image: url('images/extra/jiffy/gtav.gif');
    background-repeat: no-repeat;
}
#gtav:hover{
    background-image: url('images/extra/jiffy/gtav-hover.png');
    height: 400px;
    width: 600px;
    background-size: contain;
    transition: 1s;
    background-repeat: no-repeat;
}
#gtav:hover::after {
    transition: 1s;
}
#gtafont {
    color: greenyellow;
}




